+
#carrito {
    color: black;
    align-items: center;
}
table {
    background-color: rgba(0,0,0,.04);
    text-align: center;
    align-items: center;
    width: 1200px;
    border: #D90368;
}

.carrito-container {
    display: inline-block;
    border-width: 10px;
    border-color: black;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: black
}

.encabezado {
    background-color: lightgrey;
    color: black;
    font-weight: bold;

}

label, input {
    flex-direction:column;
    margin: 10px;
    padding: 10px
}

input {
    box-sizing: border-box;
    width: 300px;
    line-height: 2px;
    background-color: rgba(0,0,0,.07)
}

.informacion_cliente {

    margin: auto;
    width: 50%;
    background-color: rgba(0,0,0,.04);
}

th, thead {
    padding: 20px
}
tbody, td {
    padding: 10px
}

#carrito {
    color: black;
    align-items: center;
}
table {
    background-color: white;
    text-align: center;
    align-items: center;
    width: 1200px;
    border: #D90368;
}

.carrito-container {
    display: inline-block;
    border-width: 10px;
    border-color: black;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: black
}
.eliminar {
    color: red;
    font-size: 30px;

}
.eliminar:hover {
    cursor: pointer
}

.checkout {
    width: auto;
    color: white;
    background-color: #820263;
    border: solid 1px;
    border-color: #820263;
    border-radius: 5px;
    padding: 20px;
}
.checkout:hover {
    cursor: pointer;

}

.hacer_pedido {
    width: auto;
    color: white;
    background-color: #820263;
    border: solid 1px;
    border-color: #820263;
    border-radius: 5px;
    padding: 20px;
}
.hacer_pedido:hover {
    cursor: pointer;
}
#botonModificar{
    color:#A82885;
    font-weight: bold;
    margin-left:20px;
    text-decoration:underline;
}
#botonModificar:hover{
    cursor:pointer
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
