+
#carrito {
    color: black;
    align-items: center;
}
table {
    background-color: rgba(0,0,0,.04);
    text-align: center;
    align-items: center;
    width: 1200px;
    border: #D90368;
}

.carrito-container {
    display: inline-block;
    border-width: 10px;
    border-color: black;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: black
}

.encabezado {
    background-color: lightgrey;
    color: black;
    font-weight: bold;

}

label, input {
    flex-direction:column;
    margin: 10px;
    padding: 10px
}

input {
    box-sizing: border-box;
    width: 300px;
    line-height: 2px;
    background-color: rgba(0,0,0,.07)
}

.informacion_cliente {

    margin: auto;
    width: 50%;
    background-color: rgba(0,0,0,.04);
}

th, thead {
    padding: 20px
}
tbody, td {
    padding: 10px
}