.card-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 ;
    width: 200px;
    margin:10px;
    align-items: center;
}
.card-container {
    display: flex;
    flex-direction: column;

}

h4{
    margin: 10px 0;
    padding: 0;
}

p{
    margin: 10px 0;
}
.imagen_perro {
    width: 200px
}