.footer {
    background-color: #F75C03;
    color: #fff;
    min-height: 55px;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 10px;
    text-align: center;

}

.datos-contacto {
   margin: 4px;
}
