#form-container {
    padding:20px;
    background-color: #FFF5E1;
    margin: auto;
    margin-top: 10px;
    border-radius: 7px;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
}
.form-data{
    margin:20px;
}

.aqui{
    text-decoration: underline;
    color: blue;
}

label {
    flex-direction:column;
    margin: 20px;
    padding: 20px;
}

input {
    width: auto;
    height: auto;
    line-height: 2px;
    background-color: rgba(0,0,0,.07)
}

.form-container {
    margin: auto;
    width: 50%;
    background-color: rgba(0,0,0,.04);
}

.form-data{
    margin:20px;

}

.registro {
    text-decoration: none;
    color:white;
    background-color: #820263;
    border-radius: 20px;
    padding:10px;
    cursor: pointer;
    height: 50px;
    width: 140px
}
.registro:hover {
    cursor: pointer;
}

span:hover {
    cursor:pointer
}

.required-field {
    color: red;
}

#fieldset-container{
    border-radius: 5px;
}

.boton-enviar{
    width: auto;
    color: white;
    background-color: #820263;
    border: solid 1px;
    border-color: #820263;
    border-radius: 5px;
    padding: 20px;
}