@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

#header_1 {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 14px 14px;
    text-align: left;


}
#header_2 {
    background-color: #F75C03;
    color: #fff;
    min-height: 55px;
    position: relative;
    text-align: left;
    position: relative;

}

img, p {
    display: inline-flex;
}

h1 {
    font-size: 55px;
    color: black;
    display: inline-flex;
}
#name {
    display: inline-flex;
    position: absolute;
    font-family: 'Rock Salt', cursive;
}
#subtitle{
    display: inline-flex;
    font-style: italic;
    color:black;
}