#navbar-container{
    display:flex;
    background-color: #820263;
    justify-content:space-around;
    align-items: center;
    color: black;
    width: auto;
    height: auto;
    flex-wrap:wrap;
}
.menu{
    text-decoration: none;
    color:white;
    font-weight: bold;
    height: auto;
    width: auto;
    padding: 15px;
    margin: 15px
}
.menu:hover {
    background-color: #CD39A9;
    cursor: pointer;
    padding:12px;
    border-radius:30px;
    box-sizing: border-box;
    position: relative;
}
