#navbar-container{
    display:flex;
    background-color: darksalmon;
    justify-content:space-around;
    padding: 15px;
    align-items: center;
    color: black;
    width: auto;
    height: auto;
}
.menu{
    text-decoration: none;
    color:black;
}
.menu:hover {
    background-color: lightsalmon;
    cursor: pointer;
    box-sizing: border-box;
    padding: 4px;
    position: relative;
}
.login{
    text-decoration: none;
    color:white;
    border: 3px solid white;
    padding:10px;
    background: black;
    border-radius: 100px;
}