#navbar-container{
    display:flex;
    background-color: #820263;
    justify-content:space-around;
    padding: 15px;
    align-items: center;
    color: black;
    width: auto;
    height: auto;
    flex-wrap:wrap;
}
.menu{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.menu:hover {
    background-color: #CD39A9;
    cursor: pointer;
    padding:12px;
    border-radius:20px;
    box-sizing: border-box;
    position: relative;
}
.login{
    text-decoration: none;
    color:white;
    border: 3px solid #D90368;
    padding:10px;
    background: #D90368;
    border-radius: 100px;
    font-weight: bold;
}