h1{
    text-transform: uppercase;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotoDescripcion{
    margin: 0 200px;
    display:flex;
    align-items: center;
}
img{
    margin-right:20px;
}
h2{
    margin-left:20px;
}
.botonVolver{
    cursor:pointer;
    border-radius:50%;
    text-align: center;
    width:90px;
    height:90px;
    background-color: #820263;
    color:white;
    padding:12px;
    margin-top:40px;
    font-size:12px;
}
.botonVolver:hover {
    opacity: 60%;
}
.seccion{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
p{
    align-items: center;
}
#agregar{
    padding:20px;
    color: #820263;
    border:5px dotted #820263;
    background-color: rgba(224, 207, 220, 0.98);
}
#agregar:hover{
    cursor:pointer;
    opacity:70%;
}