.active{
    background-color: rgba(217, 3, 104, 0.2);
}
.planes-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom:50px;
}
.plan-container{
    display:flex;
    border:2px solid black;
    flex-direction:column;
    justify-content: space-between;
    padding:0px 5px 20px 5px;
    align-items: center;
    width:22%;
    height:550px;
}
#planSeleccionado{
    text-transform: uppercase;
    color: #F75C03;
    margin-top:80px;
    font-size:30px;
}
.botonVolver{
    background-color: #820263;
    color:white;
    padding:20px;
    border-radius:5px;
}
