
.contenedor-red{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-cartas{
    display: flex;

}

.agregar {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #D90368;
    border-radius: 90px;
    font-weight: bold;
    justify-content: flex-end;
}

.agregar:hover {
    cursor: pointer
}
.red_completa {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #D90368;
    border-radius: 90px;
    font-weight: bold;
    justify-content: flex-end;
}

.red_completa:hover {
    cursor: pointer
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador {

}
label {
    color: black;
}
.mensaje {
    color: red;
    font-size: 15px;
}
