.volver {
    text-decoration: none;
    color:white;
    background-color: #820263;
    border-radius: 20px;
    padding:10px;
    cursor: pointer;
    height: 50px;
    width: 140px
}
.name {
    color: black;
    font-size: 30px;
}

.agradecimiento {
    color: black;
    font-size: 25px;
}
