h1{
    text-transform: uppercase;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotoDescripcion{
    display:flex;
    align-items: center;
    margin: 0px 100px;
}
img{
    margin-right:20px;
}
h2{
    margin-left:20px;
}
.botonVolver{
    cursor:pointer;
    border-radius:50%;
    text-align: center;
    width:90px;
    height:90px;
    background-color: #820263;
    color:white;
    padding:12px;
    margin-top:40px;
    font-size:12px;
}
.botonVolver:hover {
    opacity: 60%;
}
p{
    align-items: center;
}
.boton {
    margin: 10px;
    padding: 10px;
    border: 4px solid #820263;
    border-radius: 10px;
    color: white;
    background-color: #820263;
}
.boton:hover{
    cursor:pointer;
    opacity: 60%;
}
.agregoElimino{
    opacity:25%;
    margin-top:15px;
    border-radius:5px;
    color:white;
    padding: 0px 5px;
    background-color: #820263;
}
.precio{
    font-size:30px;
}
.info_mostrar {
    display: flex;
    align-items: center;
    flex-direction: column;
}